
<div class="field-wrapper thumb" id="div_preview">
    <a href="#" id="btnEdit" class="tooltip" title="{{'common.upload_img'|trans}}" ><i class="fa fa-upload"></i></a>
    <a href="#" id="btnReset" class="tooltip" title="{{'fileapi.reset'|trans}}"><i class="fa fa-times"></i></a>
    <img id="{{img_preview_selector}}" src="{{ asset('bundles/uakikanfcbackend/images/big-thumbnail.jpg')}}">    
</div>
<div class="separator"></div>
