
<div class="field-wrapper" id="upload_file_div" style="display:none;">
    <input type="hidden" id="del_temp_img" name="del_temp_img" value="">
    <div class="nicer-input upload">
        <input type="file" id="{{file_selector}}" accept="jpg|png|jpeg">
        <a href="#" class="button positive"><i class="fa fa-arrow-circle-o-up"></i>{{ 'common.upload_img'|trans }}</a>
    </div>
    <div class="separator"></div>
</div>
